body{
    background-color: black;
}
h1{   
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    padding: 10px;
}

div{
    font-family: "Libre Baskerville", serif;
    text-align: center;
    font-style: normal;
    color: white;
    padding-bottom: 80px;
}
img{
    border: 5px solid white;
    width: 300px;
}
h2{   
    font-weight: 700;
    text-transform: uppercase;
}
p{
    font-weight: 300;
}